{% extends "account/_form_card.html" %}
{% load i18n %}
{% block title %}
    {% trans "Changer mon mot de passe" %}
{% endblock %}
{% block headline %}
    {% trans "Changer mon mot de passe" %}
{% endblock %}
{% block subtitle %}
    {% trans "Pour la sécurité de votre compte." %}
{% endblock %}
{% block action_url %}
    {% url 'account_change_password' %}
{% endblock %}
{% block submit_label %}
    {% trans "Enregistrer" %}
{% endblock %}
{% block fields %}
    {% include "account/_input.html" with field=form.oldpassword type="password" label=_("Mot de passe actuel") autocomplete="current-password" %}
    {% include "account/_input.html" with field=form.password1 type="password" label=_("Nouveau mot de passe") autocomplete="new-password" %}
    {% include "account/_input.html" with field=form.password2 type="password" label=_("Confirmer le nouveau mot de passe") autocomplete="new-password" %}
{% endblock %}
{% block extra_actions %}
    <p class="mt-3 text-center text-sm">
        <a href="{% url 'account_reset_password' %}"
           class="text-tertiary hover:underline">{% trans "Mot de passe oublié ?" %}</a>
    </p>
{% endblock %}
