{% extends "account/_form_card.html" %}
{% load i18n %}
{% block title %}
    {% trans "Définir un mot de passe" %}
{% endblock %}
{% block headline %}
    {% trans "Définir un mot de passe" %}
{% endblock %}
{% block subtitle %}
    {% trans "Choisissez un mot de passe pour votre compte." %}
{% endblock %}
{% block action_url %}
    {% url 'account_set_password' %}
{% endblock %}
{% block submit_label %}
    {% trans "Enregistrer" %}
{% endblock %}
{% block fields %}
    {% include "account/_input.html" with field=form.password1 type="password" label=_("Mot de passe") autocomplete="new-password" %}
    {% include "account/_input.html" with field=form.password2 type="password" label=_("Confirmer le mot de passe") autocomplete="new-password" %}
{% endblock %}
